<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>artifactory</id>
            <mirrorOf>external:*,!propel-reposity</mirrorOf>
            <url>https://shcartifactory.swinfra.net:443/artifactory/itom-mvn-sma-group</url>
            <name>Artifactory</name>
        </mirror>
    </mirrors>

    <servers>
        <server>
            <id>artifactory-smax</id>
            <username>_itomsmax</username>
            <password>{AY8kA1Lb/ssHf8qB0QZb8X1XsB0CFbAse1EfmOpp4GY=}</password>
        </server>
        <server>
            <id>artifactory-docker</id>
            <username>_itomsmax</username>
            <password>{AY8kA1Lb/ssHf8qB0QZb8X1XsB0CFbAse1EfmOpp4GY=}</password>
        </server>
        <server>
            <id>itom-mvn-sma-snapshot</id>
            <username>_itomsmax</username>
            <password>{AY8kA1Lb/ssHf8qB0QZb8X1XsB0CFbAse1EfmOpp4GY=}</password>
        </server>
        <server>
            <id>itom-mvn-sma-release</id>
            <username>_itomsmax</username>
            <password>{AY8kA1Lb/ssHf8qB0QZb8X1XsB0CFbAse1EfmOpp4GY=}</password>
        </server>
        <server>
            <id>itom-mvn-sma-thirdparty-release</id>
            <username>_itomsmax</username>
            <password>{AY8kA1Lb/ssHf8qB0QZb8X1XsB0CFbAse1EfmOpp4GY=}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>shc</id>
            <properties>
                <artifactory>shcartifactory.swinfra.net</artifactory>
            </properties>
        </profile>
        <profile>
            <id>svs</id>
            <properties>
                <artifactory>svsartifactory.swinfra.net</artifactory>
            </properties>
        </profile>
        <profile>
            <id>ci-itsmax</id>
            <properties>
                <ci.itsmax>true</ci.itsmax>
            </properties>
        </profile>

        <profile>
            <id>to-target-repo</id>
            <activation>
                <property>
                    <name>target-repo</name>
                </property>
            </activation>
            <properties>
                <targetRepoId>${target-repo}</targetRepoId>
                <targetRepoUrl>https://${artifactory}:443/artifactory/${targetRepoId}</targetRepoUrl>
                <altDeploymentRepository>${targetRepoId}::default::${targetRepoUrl}</altDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <id>${target-repo}</id>
                    <url>${targetRepoUrl}</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>${target-repo}</id>
                    <url>${targetRepoUrl}</url>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>

        </profile>
        <profile>
            <id>itom-mvn-sma-group</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>itom-mvn-sma-group</id>
                    <url>https://${artifactory}:443/artifactory/itom-mvn-sma-group</url>
                </repository>
            </repositories>
        </profile>

    </profiles>

    <activeProfiles>
        <activeProfile>shc</activeProfile>
        <activeProfile>ci-itsmax</activeProfile>
    </activeProfiles>

</settings>
